.contact_me__container {
    height: inherit;
    max-height: max-content;
    margin: 5% 10%;
    margin-bottom: 0;

    .contact__heading {
        font-family: "Josefin Sans", sans-serif;
        display: flex;
        justify-content: center;
        font-size: 30px;
        font-weight: 700;

        p {
            border-bottom: 2px solid #777;
        }
    }

    .details__container {
        display: flex;

        .my_details,
        .map__container {
            flex: 1;
        }

        .my_details {
            margin: auto;

            .my_details__heading {
                font-size: 20px;
            }

            .my_details__data {
                margin-bottom: 10px;
                font-size: 19px;

                a {
                    text-decoration: none;
                    color: #212529;
                    font-weight: 600;
                }
            }
        }

        .map__container {
            position: relative;
            min-height: 40vh;
        }
    }

    .social__links {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        margin: 5% 0;

        span {
            .social_icon_img {
                height: 30px;
                width: 30px;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .contact_me__container {
        margin: 5%;

        .details__container {
            flex-direction: column;

            .my_details {
                margin: 0;

                .my_details__heading {
                    font-size: 15px;
                }

                .my_details__data {
                    font-size: 14px;
                }
            }

            .map__container {
                margin-top: 20px;
            }
        }

        .social__links {
            flex-flow: wrap;
            margin-bottom: 50px;

            span {
                margin: 10px 45px;
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    .contact_me__container {
        .social__links {
            span {
                margin: 10px 55px;
            }
        }
    }
}

@media only screen and (max-width: 300px) {
    .contact_me__container {
        .social__links {
            span {
                margin: 10px 35px;
            }
        }
    }
}
