.body__container {
    height: calc(100vh - 65px - 86px);
    margin-top: 65px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;

    -ms-overflow-style: none;
    scrollbar-width: none;

    .home__container,
    .about__container,
    .skills__container,
    .projects__container {
        height: inherit;
        display: flex;
    }
}

.body__container::-webkit-scrollbar {
    display: none;
}
