.body__container {
    margin-top: 65px;
    margin-bottom: 30px;
    height: calc(100vh - 65px - 30px);
    overflow: scroll;

    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;

    -ms-overflow-style: none;
    scrollbar-width: none;

    .home__container,
    .about__container,
    .skills__container,
    .projects__container {
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.body__container::-webkit-scrollbar {
    display: none;
}
