.contact_me__container {
    height: inherit;
    margin: 0 10%;

    .contact__heading {
        margin-top: 30px;
        text-align: center;
        font-size: 30px;
    }

    .details__container {
        display: flex;
        margin: 5% 0;

        .my_details,
        .map__container {
            flex: 1;
        }

        .my_details {
            margin: auto;

            .my_details__heading {
                font-size: 20px;
            }

            .my_details__data {
                margin-bottom: 10px;
                font-size: 19px;

                a {
                    text-decoration: none;
                    color: #212529;
                    font-weight: 600;
                }
            }
        }

        .map__container {
            position: relative;
            min-height: 40vh;
        }
    }

    .social__links {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        span {
            .social_icons {
                font-size: 30px;
            }

            .social_icon_img {
                height: 30px;
                width: 30px;
            }

            .fa-github {
                color: #000000;
            }

            .fa-linkedin-in {
                color: #0177b5;
            }

            .fa-twitter-square {
                color: #4ea6e9;
            }

            .fa-youtube {
                color: #c12f29;
            }

            .fa-facebook {
                color: #3a5598;
            }

            .fa-whatsapp {
                color: #66e777;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .contact_me__container {
        margin: 5%;

        .details__container {
            flex-direction: column;

            .my_details {
                margin: 0;

                .my_details__heading {
                    font-size: 15px;
                }

                .my_details__data {
                    font-size: 14px;
                }
            }

            .map__container {
                margin-top: 20px;
            }
        }

        .social__links {
            flex-flow: wrap;

            span {
                margin: 5px 55px;
            }
        }
    }
}
