.home__container {
    flex-flow: wrap;

    .left__container,
    .right__container {
        flex: 1;
    }

    .left__container {
        font-family: "Josefin Sans", sans-serif;
        flex-flow: column;

        display: flex;
        justify-content: center;

        .data__container {
            margin: auto;
            margin-right: 0;
            width: 80%;
            font-size: 40px;
            font-weight: 300;

            .heading__container {
                span {
                    display: inline-block;
                    transform-origin: 70% 70%;
                    animation: handWave 1800ms infinite;
                    cursor: default;
                    user-select: none;
                }

                @keyframes handWave {
                    0% {
                        transform: rotate(0deg);
                    }

                    10% {
                        transform: rotate(-10deg);
                    }

                    20% {
                        transform: rotate(12deg);
                    }

                    30% {
                        transform: rotate(-10deg);
                    }

                    40% {
                        transform: rotate(9deg);
                    }

                    50% {
                        transform: rotate(0deg);
                    }

                    100% {
                        transform: rotate(0deg);
                    }
                }
            }

            .name__container {
                display: flex;

                .name {
                    font-weight: 600;
                    color: #cc2f2f;
                    margin-left: 10px;
                    cursor: default;
                    height: 43px;
                    display: inline-block;
                }

                .name::after {
                    content: "";
                    width: 0px;
                    height: 2px;
                    margin-top: -15px;
                    display: block;
                    background: #cc2f2f;
                    transition: 300ms;
                }

                .name:hover::after {
                    width: 100%;
                }
            }
        }
    }

    .right__container {
        display: flex;
        align-items: center;

        img {
            margin: auto;
            width: 355px;
            height: 355px;
            border-radius: 360px;
        }
    }
}

@media only screen and (max-width: 1100px) {
    .home__container {
        .left__container {
            .data__container {
                margin: 10%;

                .name__container {
                    .name::after {
                        margin-top: -7px;
                    }
                }
            }
        }
        .right__container {
            img {
                margin: 0 auto;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .home__container {
        flex-flow: column;

        .left__container {
            height: 50%;

            .data__container {
                font-size: 20px;
            }
        }

        .right__container {
            height: 50%;

            img {
                width: 205px;
                height: 205px;
                margin: auto;
                margin-top: 0;
            }
        }
    }
}
