.navbar__container {
    width: 100%;
    height: fit-content;
    min-height: 30px;
    padding: 10px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Josefin Sans", sans-serif;

    a {
        color: var(--dark);
        text-decoration: none;
    }

    .left__container {
        margin-left: 20px;

        .logo__container {
            font-size: 30px;
        }

        .logo_image {
            display: none;
        }
    }

    .right__container {
        .menu__button {
            display: none;
        }

        a {
            margin-right: 20px;
            padding-bottom: 5px;
            display: inline-block;
        }

        a::after {
            content: "";
            width: 0px;
            height: 2px;
            display: block;
            background: #212529;
            transition: 300ms;
        }

        a:hover::after {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 600px) {
    .navbar__container {
        .left__container {
            .logo_image {
                display: inline;
                border-radius: 50px;
                background-color: #000000;
                padding: 5px 10px;

                img {
                    height: 20px;
                    width: 20px;
                }
            }

            .logo_text {
                display: none;
            }
        }

        .right__container {
            .menu__button {
                display: flex;
                cursor: pointer;
                flex-direction: column;
                margin-right: 20px;

                .menu__line {
                    height: 4px;
                    width: 32px;
                    background-color: #000000;
                    border-radius: 15px;
                }

                .menu__line:nth-child(1) {
                    transform: translateY(-5px);
                    transition: transform 300ms linear;
                }

                .menu__line:nth-child(3) {
                    transform: translateY(5px);
                    transition: transform 300ms linear;
                }
            }

            .is_open {
                .menu__line:nth-child(1) {
                    transform: translateY(4px) rotate(45deg);
                    transition: transform 300ms linear;
                }

                .menu__line:nth-child(2) {
                    transform: translateX(0);
                    opacity: 0;
                    transition: transform 300ms linear, opacity 300ms linear;
                }

                .menu__line:nth-child(3) {
                    transform: translateY(-4px) rotate(-45deg);
                    transition: transform 300ms linear;
                }
            }

            .page_links {
                z-index: 1;
                background-color: pink;
                height: calc(100vh - 52px);
                width: 100%;
                position: absolute;
                top: 52px;
                left: 0;

                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: center;

                transition: transform 300ms ease-in-out;

                a {
                    margin-right: 0;
                    font-size: 20px;
                    margin: 10px 0;
                }
            }

            .is_open + .page_links {
                animation: open_links 300ms linear;
            }

            @keyframes open_links {
                0% {
                    transform: translateX(100%);
                }

                100% {
                    transform: translateX(0);
                }
            }

            .is_close + .page_links {
                display: none;
            }
        }
    }
}
