@import "./components/About.scss";
@import "./components/Body.scss";
@import "./components/Footer.scss";
@import "./components/Home.scss";
@import "./components/Navbar.scss";
@import "./components/Project.scss";
@import "./components/Projects.scss";
@import "./components/Skills.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
