@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Open+Sans:wght@300;400;600;700;800&display=swap");

@import "./components/About.scss";
@import "./components/Body.scss";
@import "./components/Footer.scss";
@import "./components/Home.scss";
@import "./components/Navbar.scss";
@import "./components/Project.scss";
@import "./components/Projects.scss";
@import "./components/Skills.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Josefin Sans", sans-serif;
    font-family: "Open Sans", sans-serif;
}

#root {
    height: 100vh;
}

.main__container {
    height: inherit;

    display: flex;
    justify-content: space-between;
    flex-flow: column;

    .scroll_to_top {
        position: absolute;
        bottom: 90px;
        right: 20px;
        background-color: #000000;
        color: var(--white);

        padding: 10px 15px;
        border-radius: 100px;
        cursor: pointer;
    }
}
